body {
	background-color: #E6E6ED;
    color: #333333;
    font-family: "Lucida Sans Unicode", 'Lucida Grande', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 30px;
	color:  #333333;
}

p {
	padding-top: 20px;
	align: justify;

}

tr:hover { background: #E6E6ED; }
td a { 
    display: block; 
    padding: 16px;
color:	#333333;
}

#tipos {
	padding-left: 30px;

}

#logo {
    margin-top: 30px;
}


#title {

	color: #FFFFFF;
}

#sublogo {
    margin-top: 30px;
}

#subtitle {
	padding-top: 0px;
	color: #FFFFFF;
}


#div-mae{
	border-left: 2px groove #333333;
	border-right: 2px groove #333333;
	border-top: 2px groove #333333;
	border-bottom: 2px groove #333333;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	width: 2400px;
}

#header{
	margin-top: 15px;
}

#divitem{
	width: auto;
}

ul,
li {
  list-style-type: none;
}

.clicavel {
  cursor: pointer;
}

.DeleteButton {
  color: white;
  font-weight: bold;
  background-color: rgb(121, 25, 92);
  margin-right: 10px;
  border-radius: 50%;
}